body {
    font-family: roboto, sans-serif;
}

.navbar {
    background-color: #ee5959;
}

#cabeCalho .nav .nav-link.active {
    background-color: #fff;
    color: #ee5959;
}

#cabeCalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: Pacifico, cursive;
}

.section-title{
    color: #ee5959;
}

#sobre-o-restaurante, #Cardápio {
    background-color: #e2d5d5;
}

.text-colored, span{
    color: #ee5959;
}

.nav-cardapio .nav-link.active,
#Contatos button {
    background-color: #ee5959;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #ee5959;
}

.social-links li {
    list-style: none;
    display: inline;
}
.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .btn {
        margin-bottom: 5px;
    }
}