body {
    font-family: roboto, sans-serif;
}

.navbar {
    background-color: #ee5959;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #ee5959;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.section-title {
    font-family: Pacifico, cursive;
}

.section-title span{
    color: #ee5959;
}

#sobre-o-restaurante {
    background-color: #e2d5d5;
}